<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="{{ pageTitle }}" />
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="../../styles/app.css" />
  </head>
  <body class="Post">
    <header>
      <a href="/">damon bauer's blog</a><br>
      <span>developer, amateur woodworker</span>
    </header>
    <h1>{{ pageTitle }}</h1>
    {{ content }}
    <div class="Post-backLink">
      <a href="/">← Back</a>
    </div>
  </body>
</html>