---
layout: layouts/base.njk
---
{#-
  - Delete this message, it will also remove the component CSS from the bundle
  - If you want to use the component CSS, remove the comment tags instead
#}
{#- {%- css %}{% include "public/css/message-box.css" %}{% endcss %} #}

{{ content | safe }}
