$primary-color: aquamarine;
$text-color: black;
$off-white: #f2f2f2;

::selection {
  color: white;
  background-color: $primary-color;
}

::-moz-selection {
  color: white;
  background-color: $primary-color;
}

body {
  margin: 0;
  margin: 0 auto;
  max-width: 600px;
  padding: 24px;
  font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-size: 20px;
  line-height: 1.6;
  background-color: $off-white;
  color: $text-color;
}

header {
  margin-bottom: 3rem;

  a {
    display: inline-block;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  span {
    font-size: 1rem;
  }
}


a {
  display: inline-block;
  color: $text-color;

  &:hover,
  &:focus {
    // color: $off-white;
    background-color: $primary-color;
  }
}
