$black: #111;
$light-black: #444;
$white: #f9f9f9;

body {
  margin: 0;
  margin: 0 auto;
  max-width: 600px;
  padding: 24px;
  font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-size: 20px;
  line-height: 1.6;
  background-color: $black;
  color: $white;
}

header {
  margin-bottom: 3rem;

  a {
    display: inline-block;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  span {
    font-size: 1rem;
  }
}


a {
  display: inline-block;
  padding: 0 2px;
  border-radius: 2px;
  color: $white;

  &:hover,
  &:focus {
    color: $black;
    background-color: $white;
  }
}
